<div class="mt-4">
    <div class="row">
        <div class="row">
            {{#each toys}}
            <div class="card card-toy-item" style="width: 18rem;">
                <a href="/toys/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="/toys/{{this.slug}}" class="text-decoration-none text-secondary">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-title">{{formatPrice this.price}}</p>
                    <p class="card-text">{{truncateWords this.description 20}}</p>
                    <button class="btn btn-success mt-auto">
                        <a href="#" class="btn-success text-decoration-none">Buy</a>
                    </button>
                </div>

            </div>
            {{/each}}
        </div>
    </div>
</div>